# Conversion between Data types

We can perform built-in data type conversions by using standard type conversion functions such as int(), float(), str(), etc.

In [1]:
3

3

In [2]:
type(3)

int

In [3]:
float(3)

3.0

In [4]:
print(type(float(3)))

<class 'float'>

Converting float to int will be floor/truncating or omitting the value after the comma.

In [5]:
5.2

5.2

In [6]:
type(5.2)

float

In [7]:
int(5.2)

5

In [8]:
int(5.6)   # Different from mathematics, in which after the comma is more than 5, then it is rounded up to become the number 6
           # at python it is truncating or directly removes the value after the comma.

5

In [10]:
type(int(5.6))

int

Conversions from and to strings are tested and validated.

In [11]:
"1.5"

'1.5'

In [12]:
type('1.5')

str

In [13]:
float('1.5')

1.5

In [14]:
type(float('1.5'))

float

In [15]:
10

10

In [16]:
type(10)

int

In [17]:
str(10)

'10'

In [18]:
type(str(10))

str

In [19]:
"2a"

'2a'

In [20]:
type('2a')

str

In [21]:
int(2a)

SyntaxError: invalid syntax (790352320.py, line 1)

We can also make data set conversions (sets, lists, and tuples).

In [22]:
[4,5,6]

[4, 5, 6]

In [23]:
type([4,5,6])

list

In [24]:
set([4,5,6])

{4, 5, 6}

In [25]:
type(set([4,5,6]))

set

In [26]:
tuple([4,5,6])

(4, 5, 6)

In [27]:
"Data"

'Data'

In [28]:
list('Data')

['D', 'a', 't', 'a']

For conversion to a dictionary, the data must meet the key-value requirements. The following are two examples of conversions:

1. A list of several lists containing value pairs becomes a dictionary
2. As well as converting a List of several tuples containing value pairs into a dictionary

In [29]:
[[4,5],[3,6]]

[[4, 5], [3, 6]]

In [30]:
dict([[4,5],[3,6]])

{4: 5, 3: 6}

In [31]:
((4,5),(6,7))

((4, 5), (6, 7))

In [32]:
dict(((4,5),(6,7)))

{4: 5, 6: 7}