# Data Type ( String, Boolean, Numbers)

## > Contents of the material discussed:

Contents of the module material discussed:

1. Numbers Data Type
2. Convert from one data type to another (Especially Numbers data type)
3. Random Numbers
4. String Data Type
5. Boolean Data Type

## > Python Numbers

### Integer ( Int ) dan Float (Float)

1. Numbers numeric type in Python is divided into 3: int, float and complex

In [1]:
b = 10       # b is a variable in python

type (b)     # type () function used to check the type of data used

int

In [2]:
c = 1.7      # c is a variable in python
             # In python, the comma (,) replace with a period (.)
type (c)     # type () function used to check the type of data used

float

Different integer and float is decimal points.

In [3]:
a = 1

type (a)

int

In [4]:
b = 1.0

type (b)

float

### Complex Data Type

Because python also used by mathematicians, the number type also supports imaginary parts and complex numbers. The value of a complex number written in the formulation x + yj, where an x part is an absolute number and y is an imaginary number. Examples are as follows:

In [5]:
c = 1 + 2j

type (c)

complex

Note: 

The letter "j" can't replaced with other letters other. Also, pay attention to the use of uppercase and lowercase letters. If you write a capital J, the output will be an error. Because Python is case sensitive.

## > Conversion Type

We can convert from one type of data type to another with the int(), float(), and complex() methods:

For Example:

Convert from integer to float

In [1]:
x = 1   # int

#int to float

a = float(x)

print(a)
print(type(a))

1.0
<class 'float'>

Convert from float to int

In [9]:
y = 1.5   # int

#float ke int

a = int(y)

print(a)
print(type(a))

1
<class 'int'>

Convert from int to complex

In [11]:
x = 1   # int

#int ke complex

a = complex(x)

print(a)
print(type(a))

(1+0j)
<class 'complex'>

Note: We cannot convert complex data types to other types of numbers data types.

## > Random Numbers

Python doesn't have a random() function to generate random numbers, but Python has a built-in module called random that you can use to generate random numbers:

Example:

Import random modul, and display a random number between 1 and 9:

In [2]:
import random

print(random.randrange(1, 10))

6

## > Data Type String

A string is a sequence of Unicode characters declared in single or double quotes. Strings >1 line can be marked with three single or double quotes ''' or """.

In [4]:
# Use single quotes ( ' ' )

a = 'Hello World'

print(a)              # Print variable a

Hello World

In [5]:
a = 'Hello World'

type(a)               # Print type data from variable a

str

In [6]:
# Use double quotes ( " " )

b = "Hello World"

print(b)

Hello World

In [7]:
b = "Hello World"

type(b)

str

In [11]:
# Example of more than 1 row of string data type

c = '''Hello, My name is Yesaya,
I'm from Indonesia and I like reading books
Nice to meet you'''

print (c)

Hello, My name is Yesaya,
I'm from Indonesia and I like reading books
Nice to meet you

In [12]:
c = """Hello, My name is Yesaya,
I'm from Indonesia and I like reading books
Nice to meet you"""

type (c)

str

To create a new line in addition to using single or double quotes three times. We can use with blackplash n (\n). Examples as below:

In [13]:
d = 'Hello All \nLet me introduce my self \nMy name is Yesaya'

print(d)

Hello All
Let me introduce my self
My name is Yesaya

When we want to write quotation marks in a variable of type String data, we can use character escape characters. Or we can use reverse quotes when declaring a variable. Examples as below:

In [16]:
#Example using escape karakter

a = 'I\'m'    # If you don't use the escape character (\) then python will show an error in the form of a syntax error.

print (a)

I'm

In [14]:
#Example of using the reverse quote

b = 'I"m'
c = "I'm"

print (b)
print (c)

I"m
I'm

## > Boolean Type Data

3. Bools/Booleans. The boolean data type is an instance of an integer (integer or int) which only has two constant values, namely True and False.

In [15]:
2 > 5

False

In [17]:
# If we want to use operator = then we use " == ".
# Because in python the sign ( = ) is used to assign a variable.
# Example:

2 == 5

False

In [17]:
2 <= 5

True

In [18]:
a = 2 <= 5

print(a)
type(a)

True

bool

In [18]:
# Example of whether 2 is not equal to 3:

2 != 3

True