# Formating String

Some material in Formating String:

1. zfill()
2. rjust()
3. ljust()
4. center()
5. String literals ( Enscape Character and Raw Strings )

## > zfill()

* A method that can add a numeric value of 0 to the left of a number or string using zfill()

* The use of this zfill() method can be applied to invoice numbers or queue numbers

* The number of characters must be less than or equal to the zfill value.

In [2]:
a = 7

In [4]:
str(7).zfill(3)

'007'

In [7]:
b="200"

In [9]:
b.zfill(5)

'00200'

In [11]:
c = -0.25

In [14]:
str(c).zfill(5)

'-0.25'

In [15]:
d = -0.25

In [17]:
str(d).zfill(7)

'-000.25'

Applying zfill() to strings

In [19]:
a = "dia"

In [23]:
a.zfill(6)

'000dia'

In [25]:
b = "bukan"

In [27]:
b.zfill(6)

'0bukan'

In [29]:
c = 'untukmu'

In [31]:
c.zfill(6)

'untukmu'

## > Left/right/center aligned text with rjust(), ljust(), and center()

rjust()

* The rjust() method is used to make the text right-align
* This method will add a space to the string to make it match
* The parameter is an integer which is the overall length of the text (not the number of spaces added)
* We can replace whitespace with other symbols by entering the second parameter.Left/right/center aligned text with rjust(), ljust(), and center()

In [52]:
"Data".rjust(10)

'      Data'

In [53]:
"Data".rjust(10,"~")

'~~~~~~Data'

In [35]:
a = "Data".rjust(10)

In [39]:
len(a)

10

ljust()

* The ljust() method is used to make text left-aligned
* This method will add a space to the string to make it match
* The parameter is an integer which is the overall length of the text (not the number of spaces added)
* We can replace whitespace with other symbols by entering in the second parameter.

In [54]:
"Data".ljust(10)

'Data      '

In [55]:
"Data".ljust(10,"~")

'Data~~~~~~'

In [42]:
b = "Data".ljust(10)

In [44]:
len(b)

10

center()

* The center() method is used to center the text
* This method will add a space to the string to make it match
* The parameter is an integer which is the overall length of the text (not the number of spaces added)
* We can replace whitespace with other symbols by entering in the second parameter.

In [1]:
"Data".center(10)

'   Data   '

In [2]:
"Data".center(10,"-")

'---Data---'

In [3]:
c = "Data".center(10)

In [4]:
len(c)

10

String literals

Commonly, strings are written easily in Python, enclosed in single quotes. But under certain conditions, it takes a single quote in the middle of the string.

In [57]:
"Jum'at"

"Jum'at"

In [5]:
 # Error because the quotation marks (') after the letter m can not be read.
    
print('Jum'at')

SyntaxError: invalid syntax (3847017892.py, line 3)

Escape Character is backslash allows us to include the characters ' and " in the string part.

In [65]:
'Jum\'at'

"Jum'at"

In [67]:
"Jum\"at"

'Jum"at'

Raw Strings

Python also provides a way to print strings according to input or text.

To implement raw strings, prepare the letter r before the string opener.

In [69]:
print(r"Data Science\tScience")

Data Science\tScience

Supposedly, the \t command will create a tab, but since we are using raw strings, the sentence is printed as is.

In [71]:
print("Data\tScience")

Data	Science

In [72]:
print(r"Data\tScience")

Data\tScience